/* SHOP NUMBER ON HEADING */
.main-container span {
  font-size: 26px;
  font-weight: 400;
  color: #111111;
}

#heading {
  margin-left: 10px;
  font-size: 28px;
  font-weight: 300;
  color: #111111;
}

/* MAIN CONTAINER */
.main-container {
  position: relative;
}

/* REVIEW LIST CONTAINER */
.reviews-container {
  width: 50%;
  height: 275px;
  padding-top: 20px;
  position: relative;
  margin-bottom: 50px;
}

/* AVATAR IMAGE */
.reviews-container img:nth-child(1) {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  margin-right: 8px;
  float: left;
  margin-left: 10px;
}

/* user name */
.reviews-container a:nth-child(2) {
  margin-left: 5px;
  font-size: 12px;
}

/* date */
.reviews-container span:nth-child(3) {
  margin-left: 10px;
  font-size: 13px;
  color: #525151;
  font-weight: 400;
}

/* DESCRIPTION PARAGRAPH */
.description-container p {
  display: inline-block;
  font-size: 17px;
  width: 100%;
  margin-bottom: 50px;
  margin-left: 12px;
}

/* DESCRIPTION CONTAINER*/
.description-container {
  position: absolute;
  top: 70px;
  left: 40px;
  display: inline-block;
  max-width: 500px;
}

/* PRODUCT IMAGE*/
.reviews-container img:nth-child(6) {
  position: absolute;
  top: 140px;
  left: 500px;
  margin-left: 150px;
  width: 170px;
  height: 173px;
  border-radius: 6px;
}

/* PURCHASED ITEM */
.reviews-container p:nth-child(7) {
  position: absolute;
  font-size: 13px;
  color: #525151;
  top: 240px;
  left: 50px;
}

/* ITEM LINK */
.reviews-container a:nth-child(9) {
  position: absolute;
  font-size: 13px;
  top: 280px;
  left: 90px;
}

.text-wrapper {
  display: inline-block;
  width: 50%;
}

.unordered-list {
  list-style-type: none;
  margin-left: 400px;
}

/*/////////////////////////////////////////////////////////////////*/
/* PAGINATION SECTION */

/* PAGINATE ANCHOR LINKS */
.list-item a:link {
  text-decoration: none;
  float: left;
  margin-bottom: 10px;
  margin-left: 10px;
}

/* PAGINATE ARROWS */
.arrows {
  width: 20px;
  height: 20px;
  margin-top: 3px;
  border-radius: 15px;
  margin-top: 3px;
}


#paginate {
  font-family: 'Guardian-EgypTT', sans-serif;
  background-color: #eee;
  border-radius: 15px;
  padding: 12px;
  color: #000;
  line-height: .8;
  font-size: 11px;
}

.disabled {
  color: currentColor;
  cursor: not-allowed;
  opacity: 0.5;
  text-decoration: none;
}

/* RATING STARS */
.rating-stars {
  display: block;
  position: absolute;
  left: 36px;
  transform: scale(.8);

}

/* CUSTOMER NAME LINK */
.customer-name  {
  color: #222;
}

/* purchased image */
.purchased-img {
  position: absolute;
  top: 275px;
  left: 50px;
  width: 33px;
  height: 33px;
  border-radius: 6px;
}

/* /////////////////////////////////////////////////// */
/* DROPDOWN */
.dropdown-container {
  position: absolute;
  border-radius: 15px;
  width: 9.5%;
  top: 15px;
  left: 650px;
  z-index: 999;
  padding: 7px;
  padding-bottom: 1px;
  padding-top: 0;
  background-color: #fff;
}

#dropdownBtn {
  border: none;
  border-radius: 25px;
  background-color: transparent;
  color: #222222df;
  padding: 10px;
  transition: .2s;
  font-size: 12px;
  font-weight: bold;
  font-family: 'Guardian-EgypTT', sans-serif;
}

#dropdownBtn:hover {
  border-radius: 25px;
  background-color: #eee;
  padding: 10px;
  font-size: 12px;
}



#dropdownBtn:focus {
  border: none !important;
  outline: none !important;
}

.menu a {
  display: flex;
  flex-direction: column;
  text-decoration: none;
  width: 100%;
  color: #111;
  font-family: 'Guardian-EgypTT', sans-serif;
  font-size: 12px;
  line-height: 2;
}

.recommended:hover, .newest:hover {
  background-color: #eee;
  transition: .3s;
}

.fas {
  margin-left: 10px;
  vertical-align: top;
}

/* Dependent on state */
.backgroundStyle {
  border: 1px solid rgba(44, 44, 44, 0.178);
  box-shadow: 0 4px 20px rgba(34, 34, 34, 0.15);
  transition: .3s;
}

.removeBackground {
  background-color: transparent;
  transform: .2s ease-in-out;
}

.checkmark1 {
  position: absolute;
  top: 55px;
  right: 20px;
  font-size: 9px;
}

.checkmark2 {
  position: absolute;
  top: 94px;
  right: 20px;
  font-size: 9px;
}

.newest {
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
}

.recommended {
  margin-top: 15px;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 15px;
}